@model IEnumerable<AlberletKereso.Models.Alberlet>

@{
    ViewBag.Title = "Saját albérletek";
}

<style>
    td {
        vertical-align: central;
    }
</style>

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Új hirdetés feladása", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kepek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Szobak_szama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emelet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mosdok_szama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alapterulet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Berendezett)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="align-items:center">
            @Html.ActionLink("Képek", "KepNezegeto", new { id = item.AlberletId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Szobak_szama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emelet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mosdok_szama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alapterulet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Berendezett)
        </td>
        <td>
            @Html.ActionLink("Kép hozzáadás", "KepHozzaadas", new { id = item.AlberletId }) |
            @Html.ActionLink("Szerkesztés", "Edit", new { id=item.AlberletId }) |
            @Html.ActionLink("Részletek", "Details", new { id=item.AlberletId }) |
            @Html.ActionLink("Hirdetés törlése", "Delete", new { id=item.AlberletId })
        </td>
    </tr>
}

</table>
