@model AlberletKereso.Models.Filter

@{
    ViewBag.Title = "Szűrő törlése";
}

<h2>@ViewBag.Title</h2>

<h3>Biztos törölni szeretnéd ezt a szűrőt?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Szobak_szama_min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Szobak_szama_min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Szobak_szama_max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Szobak_szama_max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alapterulet_min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alapterulet_min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alapterulet_max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alapterulet_max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinAr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxAr)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Törlés" class="btn btn-default" /> |
            @Html.ActionLink("Vissza a szűrőimhez", "Index")
        </div>
    }
</div>
