@model IEnumerable<AlberletKereso.Models.Filter>

@{
    ViewBag.Title = "Szűrők";
}
<style>
    td {
       font-family:'Lucida Sans','Lucida Sans Unicode',sans-serif;
       border: inherit;
    }

    .table.results th {
        font-family:'Lucida Sans','Lucida Sans Unicode',sans-serif;
        font-size: 14px;
        background: lightgreen;
    }

    .table.results tr:nth-child(2n+1) {
        background-color: #f2f2f2;
    }

    .table.results td {
        font-family:'Lucida Sans','Lucida Sans Unicode',sans-serif;
        font-size: 12px;
        border: 1px solid rgba(128, 128, 128, 0.46);
    }
</style>

<h2>Saját szűrőim</h2>

<p>
    @Html.ActionLink("Új szűrő felvétele", "Create")
</p>
<table class="table results">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Szobak_szama_min)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Szobak_szama_max)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alapterulet_min)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alapterulet_max)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinAr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxAr)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td align="left">
            @Html.DisplayFor(modelItem => item.Cim)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.Szobak_szama_min)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.Szobak_szama_max)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.Alapterulet_max)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.Alapterulet_max)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.MinAr)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.MaxAr)
        </td>
        <td align="center">
           
        </td>
        <td>
            @Html.ActionLink("Szerkesztés", "Edit", new { id=item.FilterId }) |
            @Html.ActionLink("Részletek", "Details", new { id=item.FilterId }) |
            @Html.ActionLink("Törlés", "Delete", new { id=item.FilterId })
        </td>
    </tr>
}

</table>
