@model IEnumerable<AlberletKereso.Models.Alberlet>

@{
    ViewBag.Title = "Albérletek";
}

<style>
   td, th {
       font-family:'Lucida Sans','Lucida Sans Unicode',sans-serif;
       font-size: medium;
   }
   .input {
       background-color: white;
       color: black;
       border: 4px solid, #2a8500;
       font-family:'Lucida Sans','Lucida Sans Unicode',sans-serif;
       font-size: medium;
       width: 100%;
       border-radius: 8px;
   }
   .input:hover {
       background-color: #2a8500;
       color: white;
   }
</style>

<h2>Albérletek keresése</h2>

<p>
    @using (Html.BeginForm())
    {
    <table class="table">
        <tr>
            <td style="text-align:left">
                Cím: 
            </td>
            <td>
                @Html.TextBox("search")
            </td>
        </tr>
        <tr>
            <td style="text-align:left">
                Terület: 
            </td>
            <td>
                @Html.TextBox("minTerulet")
            </td>
            <td>
                @Html.TextBox("maxTerulet")
            </td>
        </tr>
        <tr>
            <td style="text-align:left">
                Ár:
            </td>
            <td>
                @Html.TextBox("minAr")
            </td>
            <td>
                @Html.TextBox("maxAr")
            </td>
        </tr>
        <tr>
            <td style="text-align:left">
                Szobák száma:
            </td>
            <td>
                @Html.TextBox("minSzoba")
            </td>
            <td>
                @Html.TextBox("maxSzoba")
            </td>
        </tr>
        <tr style="width:100%">
            <td align="center">
                <input class="input" type="button" value="Keresés" align="center"/>
            </td>
        </tr>
    </table>
    }  
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kepek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Szobak_szama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emelet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mosdok_szama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alapterulet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Berendezett)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Képek", "KepNezegeto", new { id = item.AlberletId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Szobak_szama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emelet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mosdok_szama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alapterulet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Berendezett)
        </td>
        <td>
            @Html.ActionLink("Részletek", "Details", new { id=item.AlberletId })
        </td>
    </tr>
}

</table>
