@model IEnumerable<AlberletKereso.Models.Alberlet>

@{
    ViewBag.Title = "Albérletek";
}

<style>
    .table.results {

    }

    .table.search {
        line-height: 1.5;
    }

    td {
       font-family:'Lucida Sans','Lucida Sans Unicode',sans-serif;
       font-size: medium;
       border: inherit;
    }

    .table.results th {
        font-family:'Lucida Sans','Lucida Sans Unicode',sans-serif;
        font-size: medium;
        background: lightgreen;
    }

    .table.results tr:nth-child(2n+1) {
        background-color: #f2f2f2;
    }

    .table.results td {
        font-family:'Lucida Sans','Lucida Sans Unicode',sans-serif;
        font-size: medium;
        border: 1px solid rgba(128, 128, 128, 0.46);
    }

    .input {
       background-color: white;
       color: black;
       border: 2px solid;
       font-family:'Lucida Sans','Lucida Sans Unicode',sans-serif;
       font-size: medium;
       width: 100%;
       border-radius: 8px;
    }

    .input:hover {
       background-color: lightgreen;
       border: 2px solid;
       border-color: black;
    }
</style>

<h2>Albérletek keresése</h2>

<p>
    @using (Html.BeginForm())
    {
    <table class="table search" style="width:700px" align="center">
        <tr>
            <td style="text-align:left; border-top:0">
                Cím: 
            </td>
            <td style="border-top:0">
                @Html.TextBox("search")
            </td>
        </tr>
        <tr>
            <td style="text-align:left; border-top:0">
                Terület: 
            </td>
            <td style="border-top:0">
                @Html.TextBox("minTerulet")
                 - 
                @Html.TextBox("maxTerulet")
                 m<sup>2</sup> között
            </td>
        </tr>
        <tr>
            <td style="text-align:left; border-top:0">
                Ár:
            </td>
            <td style="border-top:0">
                @Html.TextBox("minAr")
                 - 
                @Html.TextBox("maxAr")
                 Ft között
            </td>
        </tr>
        <tr>
            <td style="text-align:left; border-top:0">
                Szobák száma:
            </td>
            <td style="border-top:0">
                @Html.TextBox("minSzoba")
                 - 
                @Html.TextBox("maxSzoba")
                 között
            </td>
        </tr>
        <tr style="width:100%">
            <td align="center" colspan="3" style="border-top:0">
                <input class="input" type="submit" value="Keresés" align="center"/>
            </td>
        </tr>
    </table>
    }  
</p>

<table class="table results">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Szobak_szama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emelet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mosdok_szama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alapterulet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Berendezett)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td align="left">
            @Html.DisplayFor(modelItem => item.Cim)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.Szobak_szama)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.Emelet).
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.Mosdok_szama)
        </td>
        <td align="right">
            @Html.DisplayFor(modelItem => item.Alapterulet) m<sup>2</sup>
        </td>
        <td align="right">
            @Html.DisplayFor(modelItem => item.Ar) Ft
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.Berendezett)
        </td>
        <td>
            @Html.ActionLink("Részletek", "Details", new { id=item.AlberletId })
        </td>
    </tr>
}

</table>
