@model IEnumerable<AlberletKereso.Models.Alberlet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Cím: @Html.TextBox("search") MaxTerület: @Html.TextBox("maxTerulet") MinTerület: @Html.TextBox("minTerulet") <br />
        MaxÁr: @Html.TextBox("maxAr") MinÁr: @Html.TextBox("minAr")
        MaxSzoba: @Html.TextBox("maxSzoba") MinSzoba: @Html.TextBox("minSzoba")  <br />
        <input type="submit" value="Keresés" />
    </p>
    }  
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kepek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Szobak_szama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emelet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mosdok_szama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alapterulet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Berendezett)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Képek", "KepNezegeto", new { id = item.AlberletId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Szobak_szama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emelet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mosdok_szama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alapterulet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Berendezett)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.AlberletId })
        </td>
    </tr>
}

</table>
